node_modules
.pnpm-store
.next
dist
build
.turbo
.env
.env.local
.env.*.local
*.tsbuildinfo
coverage
.DS_Store
npm-debug.log*
pnpm-debug.log*
.vercel
/apps/web/.next
/apps/web/next-env.d.ts
playwright-report
test-results
cdk.out
cdk.context.json
infra/dist
